@media (max-width: 992px) {
    .text-background {
        padding: 30px;
        width: 100%
    }
}


.bg-body-tertiary {
    background-color:  !important;
}


* {
    font-family: "Cantarell", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 2;
}

.title-img {
    width: 100%;
}

.titlepage {
    position: relative;
    z-index: 1;
}

.text-background {
    background: rgb(0, 0, 0, 0.5);
    padding: 30px;
}

.title-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f1f1f1;
}

.container, .col {
    padding:10px;
}

.section-header {
    text-align: center;
    padding: 15px;
}

body {
    background-color: #061536;
    color: #e3eafa;
}

p {
    font-size: 25px;
}

.card-text, .card-title{
    color: black;
}

